<?xml version="1.0"?>
<model>
  <name>tumbller</name>
  <version>0.1.0</version>
  <sdf version="1.10">model.sdf</sdf>
  <author>
    <name>Jose</name>
    <email>jose@example.com</email>
  </author>
  <description>Approximate digital twin for a Tumbller-style self-balancing two-wheel robot.</description>
</model>
